# Fundamentos de programação II

## Prints

In [ ]:
print('hello world')

In [ ]:
print('hello world 2')

## Variaveis

In [ ]:
Karen = '10.0'

In [ ]:
print(Karen, type(Karen))

In [ ]:
print(f'Karen: {type(Karen)}, value: {Karen}')

In [ ]:
print('Karen: {tipo}, value: {value}'.format(tipo=type(Karen), value=Karen))

## Inputs e Comentários

In [ ]:
# Input que retorna o nome e a idade que o usuário inseriu na chamada
idade = input('Sua Idade:')
nome = input('Sua nome:')

In [ ]:
'''
Input que retorna:
    - nome
    - idade
que o usuário inseriu na chamada
'''
idade = input('Sua Idade:')
nome = input('Sua nome:')

In [ ]:
print(f'Me chamo: {nome}\nE tenho {idade} anos.')

## Operações

In [ ]:
x = 10
y = 5
z = 3

In [ ]:
# Operações Simples
soma = x + y
sub = x - y
mul = x * y
div = x / y 

# Operações Extras
mod = x % z
pot = x ** y
div_int = x // y

print(f'''
Soma: {soma}
Sub: {sub}
Mul: {mul}
Div: {div}

Mod: {mod}
Pot: {pot}
Div Int: {div_int}
''')

## Operações de Comparação

In [ ]:
print(x == 12)
print(x == 10)

In [ ]:
print(x != y)
print(type(x) != type(y))
print(x > y)
print(x < y)

In [ ]:
print(x > y * 2)
print(x >= y * 2)

## Operadores Lógicos

In [ ]:
print(0 < x and x < 100)

In [ ]:
print((10 == x) or (10 == y)) # uma das comparações precisa ser True para retorna True
print((10 == x) and (10 == y)) # TODAS as comparações precisam ser True para retorna True

In [ ]:
print(not True)
print(not x == 10)

## Lista

In [ ]:
lista = [1, 2.2, 'três', 4.0]

In [ ]:
lista[2]

In [ ]:
minha_lista2 = [5, 6, [7, 8]]
minha_lista2

In [ ]:
minha_lista2.append('nove')
minha_lista2

In [ ]:
minha_lista2[2][1]

In [ ]:
lista_completa = lista + minha_lista2
lista_completa.sort() # Não ordena pois possui tipos de dados "datatypes" diferentes
lista_completa

In [ ]:
lista_ordernar = [5,2,1,3,4]
lista_ordernar2 = ['camila','angela','fabricio']
lista_ordernar.sort()
lista_ordernar2.sort()
lista_ordernar
lista_ordernar2

## Dicionários (Dict): '{}'

In [ ]:
meu_dict = {
    'chave1': 'valor1', 
    "chave2": 2, 
    'chave3': [1,2,3]
}
meu_dict

In [ ]:
meu_dict['chave3']

In [ ]:
meu_dict['chave4'] = 'Extra2'

In [ ]:
meu_dict.update(chave7 = {})
meu_dict

In [ ]:
joao = {}
joao = dict()
joao

## Tuplas

In [65]:
minha_tupla = (1, "dois", 3.0)
minha_lista = [1, "dois", 3.0]

In [68]:
minha_tupla[2]

3.0

In [69]:
minha_tupla[1] = 2
minha_tupla

TypeError: 'tuple' object does not support item assignment

In [75]:
meu_set = set([1,1,1,1,1,2,3,4])
meu_set

{1, 2, 3, 4}

In [79]:
meu_set = {1,2,2,3,4,5,2}
meu_set

{1, 2, 3, 4, 5}

In [80]:
agora_lista = list(meu_set)
agora_tupla = tuple(meu_set)
print(meu_set)
print(agora_lista)
print(agora_tupla)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [89]:
minha_lista = [1,20,300,50000,4000]
print(minha_lista[0])
print(minha_lista[4])

1
4000

In [85]:
minha_lista.sort()
print(minha_lista[-1])
print(minha_lista[-3])

50000
300

In [94]:
minha_lista = [1,20,300,4000,50000]
print(minha_lista[:4])
print(minha_lista[1:3])
print(minha_lista[3:])
print(minha_lista[-2:])

[1, 20, 300, 4000]
[20, 300]
[4000, 50000]
[4000, 50000]

In [95]:
len(minha_lista)

5

## String

In [99]:
string1 = "Hello"
string2 = "World"
concatenada = string1 + " " + string2
concatenada

'Hello World'

In [104]:
nome = "Joao"
idade = 56
frase = "Oi, meu nome é {} e tenho {} anos".format(nome, idade)
print(frase)
print(f"Oi, meu nome é {nome} e tenho {idade} anos")

Oi, meu nome é Joao e tenho 56 anos
Oi, meu nome é Joao e tenho 56 anos

In [106]:
print(frase[:4])
print(frase[4:20])
print(frase[20:])

Oi,
meu nome é Joao
e tenho 56 anos

In [113]:
frase = "Oi, meu nome é Joao e tenho 56 anos"
nova_frase = frase.replace("Joao", "Carlos").replace("56", "60")
nova_frase

'Oi, meu nome é Carlos e tenho 60 anos'

In [108]:
frase = "      Hello World  "
nova_frase = frase.strip()
print(nova_frase)

Hello World

In [109]:
texto = "Hello World!"
texto_maiusculo = texto.upper()
print(texto_maiusculo)

HELLO WORLD!

In [110]:
texto = "Hello World!"
texto_minusculo = texto.lower()
print(texto_minusculo)

hello world!

In [118]:
frase = "Oi, meu nome é Joao, tenho 56 anos"
x = frase.split(',')
x

['Oi', ' meu nome é Joao', ' tenho 56 anos']

In [119]:
len(x)

3

In [120]:
y = frase.split()
y

['Oi,', 'meu', 'nome', 'é', 'Joao,', 'tenho', '56', 'anos']

In [121]:
len(y)

8

## Atalhos

In [ ]:
'esc + B = cria célula abaixo'
'esc + A = cria célula acima'
'esc + C V = duplica célula abaixo'
'esc + X = recorta célula abaixo'